@charset "utf-8";
/* CSS Document */
*{
			padding: 0;
		    margin: 0;
			list-style: none;
		}
		body{
			background-color: #BDE3D8;
			color: #BDE3D8 ;
			font-size: 16px;‘
			background-position: center;
		}
		h1,h2,h3,h4{
			font-family: 幼圆;
			text-align: center;
		}
		h5{
			font-family: 幼圆;
			color: #B1E1D9;
		}
		h1{
			font-size: 60px;
			text-shadow: 5px 5px 5px #000000
		}
	    h2{font-size: 50px;}
	    h3{font-size: 40px;}
	    h4{font-size: 30px;}
		h5{font-size: 20px;}
		p{
			font-family: 华文楷体，楷体，宋体;
			text-indent: 2em;
		}
		ul{
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;	
		}
		.headul li{
			float: left;
			font-family: 幼圆;
			width:380px;
			height: 100%;
		    font-size: 30px;
		}
		a:link,a:visited{
			display: block;
			width: 100%;
			font-weight: bold;
			color: aliceblue;
			background-color: #5FAA8F;
			text-align: center;
			padding: 4px;
			text-decoration: none;
			text-transform: uppercase;
		}
		a:hover,a:active{
			width: auto; 
			background-color: #256E72
		}


